<p>Schön das <strong>DU</strong> dabei bist.</p>
<P>Es fehlt nur noch eine kleine Zutat damit wir gemeinsam loslegen können.</P>
<p>
  Klicke einfach den folgenden Link um deinen Account zu aktivieren, und es kann
  loslegen!
</p>
<a href='<%= link %>''><strong>Lege los!</strong></a>

<p>Wir wünschen dir viel Spaß!</p>
<p>Dein AvisVir Team</p>
